body{
    min-width: 320px;
    overflow-x: hidden;
    margin-left: 80px;
}

.sidebar{
    width: 80px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: #d2dce8;
    border-right: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    z-index: 1000;
    max-height: 100vh;
}

.sidebar .logo{
    width: 50px;
    height: auto;
    transform: rotate(270deg);
}

.sidebar .email{
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    font-size: 20px;
    color: #486eb4;
}

.menu-overlay{
    position: fixed;
    top: 0;
    left: 80px;
    width: 0;
    height: 100vh;
    background: rgba(210, 220, 232, 0.75);
    transition: width 0.9s ease, visibility 0.1s ease;
    overflow: hidden;
    padding: 20px;
    z-index: 999;
    visibility: hidden;
}

.menu-overlay.expanded{
    width: 320px;
    visibility: visible;
}

.toggle-btn{
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.menu-overlay img{
    width: 250px;
    margin-top: -30px;
}

.menu-overlay .custo{
    font-size: 10px;
    vertical-align: top;
}

.carousel img{
    height: 39vw;
    min-height: 259px;
    object-fit: cover;
}

.sidebar a{
    text-decoration: none;
    color: #486eb4;
}

.imagem{
    width: 500px;
}

.texto p{
    text-align: justify;
}

.mapa{
    height: 500px;
}

.sociais img{
    width: 30px;
    transition: transform 0.3s ease;
    margin: 0 5px;
}

.sociais img:hover, .social-icon:hover{
    transform: scale(1.2);
}

.regua{
    border: 3px solid #486eb4;
}

footer a{
    text-decoration: none;
    color: white;
}

.rodape{
    background-color: #486eb4;
}

.social-icon{
    width: 40px;
    margin: 5px;
    transition: transform 0.3s ease;
}



/* Estilo para a galeria de imagens */

.main-image-container {
    width: 100%; 
    max-width: 700px;
    aspect-ratio: 16/9;
    height: auto;
    max-height: 400px; 
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
}

#mainImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.description {
    display: none;
}
.description.active {
    display: block;
}
.thumbnail img {
    width: 100%;
    max-width: 200px;
    height: auto;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.3s, border 0.3s;
    border: 2px solid transparent;
}
.thumbnail img:hover {
    transform: scale(1.1);
    border: 2px solid #486eb4;
}


@media all and (max-width: 768px){

    body{
        margin-left: 60px;
    }
    .menu-overlay{
        left: 60px;
    }
    .menu-overlay img{
    width: 230px;
    }
    .menu-overlay.expanded{
    width: 280px;
    }
    .sidebar{
        width: 60px;
        padding: 5px 0;
    }
    .sidebar .logo{
        width: 40px;
    }
    .sidebar .email{
        font-size: 16px;
    }
    .toggle-btn{
        font-size: 20px;
    }
    .texto p{
        font-size: 14px;
    }
    .subtitulo{
        font-size: 25px;
    }
    .sociais img{
    width: 30px;
    }
}
